<div class="pages">

<h4>关于我们</h4>

<p>National Book Store 以“在购物中思考·在阅读中进化”为品牌精神，持续拓展百货商品品类与服务，以更简易、更贴心的购物介面及流程、便捷的出货速度与优质的客服服务，为获得“资料隐私保护标章认证”的安全购物网站，期待提供消费者更安全、便利、无障碍的购物体验。</p>

<p>National Book Store 自成立30年以来，已建立最优势的图书通路服务体系，并以稳健经营的步伐溢注心力经营台湾图书市场，并以成为华文世界最大图书产业及“知识传播”通路为愿景。National Book Store已拥有最大图书通路占有率、实体仓储、物流系统市场地位，结合2000年National Book Store网路书店成立营运，目前已产生最大虚实图书市场通路综效。</p>


<h5>出货速度快，18小时到货服务，独立物流中心</h5>
<p>National Book Store网路书店推出下单后，透过物流中心从拣书、配货、品检、包装到装箱的网路仓储标准化配货流程，18小时内消费者即可收到货品。</p>


<h5>3hrs快送，买书3小时到货</h5>
<p>National Book Store网路书店在2012年8月推出3hrs快送新服务，首波服务区域包括台北市12大行政区全区，及新北市中和区及永和区，开放时间上午9:00-19:00，每整点之前所收的单，将在该整点起3小时内送达，周一到周日天天可快送，秒秒秒可下单。</p>


<h5>商品种类齐全，丰富中文/英文书籍，杂志及生活杂货一应具全</h5>
<p>National Book Store网路书店共有数十万册以上，包括丰富的中文、英文、杂志、MOOK、生活杂货、动漫玩具等一应具全，中文书更包括新书、畅销书、推荐书、排行榜、长销书等各类书籍，丰富的藏书让买书人及爱书人可在站上快速搜寻并购买到想要买的书或商品。</p>


<h5>特惠价格天天低价，66折/每日超杀/特展活动天天都优惠</h5>
<p>为提供消费者最优惠的购书选择，National Book Store网路书店推出每日66折购书专区，每日推荐一品66折书种优惠爱书购书人。在每日超杀专区每日更提供一品最优惠文具生活杂货小物等，供消费者以最优惠价格购买。另外，站上更不断推出许多主题特展活动，包括心灵、财经、职场、学生暑期阅读、周年庆等，让各分众族群的消费者可以超优惠价格购买到商品。</p>


<h5>购书经验专业，专业分类推荐完整，会员回馈优</h5>
<p>National Book Store网路书店提供消费者专业分类推荐完整，让找书、买书快速到位，动线流畅。同时会员在购书时，还可以获得红利回馈，并不定时获得会员电子礼卷做为购书折抵，生日更享有红利百点等会员奖励优惠哦。
</p>

</div>
