// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-3 span{
  overflow: hidden;
  height: 1.2em;
  display: block;
}
