<div class="wrapper header-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= render "common/my_carousel" %>
      </div>

      <div class="col-md-4">
		  <%= link_to(image_tag(@banners[0].cover.medium.url),
								@banners[0].link,
								:target => "_blank") %>
		  <%= link_to(image_tag(@banners[1].cover.medium.url, class: "header-banner-right-2"),
								@banners[1].link,
								:target => "_blank") %>
      </div>
    </div>
  </div>
</div>

<div class="wrapper featured">
  <div class="container">
    <div class="row featured-title">
      <div class="col-md-12">
        <h1><span>热销精品</span></h1>
        <a href="#" class="category-link"><span>查看全部 &gt;</span></a>
      </div>
    </div>

    <div class="row products-container">
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="wrapper featured">
  <div class="container">
    <div class="row featured-title">
      <div class="col-md-12">
        <h1><span>新品到货</span></h1>
        <a href="#" class="category-link"><span>查看全部 &gt;</span></a>
      </div>
    </div>

    <div class="row products-container">
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product-box">
          <div class="product-img-box">
            <a href="http://www.snugglebugz.ca/wall-mount-angle-gate-white.html" title="Wall Mount Angle Gate White">
              <img src="https://www.snugglebugz.ca/media/catalog/product/cache/1/small_image/225x225/9df78eab33525d08d6e5fb8d27136e95/k/c/kc-g2100wall_mount_angle_gate_-_white_product_zoom.jpg" width="225" height="225" alt="Wall Mount Angle Gate White" title="Wall Mount Angle Gate White">
            </a>
          </div>
          <div class="product-title-box">
            <h2 class="product-title">
              Wall Mount Angle Gate White White White White White White White
              <span class="brand">By Kidco</span>
            </h2>
          </div>
          <div class="rating-box">
            <div class="rating" style="width: 96%"></div>
          </div>
          <div class="price-box">
            <span class="price">¥ 129.99</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

