<div class="wrapper footer-nav-container">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="footer-nav">
					<div class="footer-nav-list">
							<h5 class="footer-nav-title">Shop</h5>
							<ul class="footer-nav-links">
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
							</ul>
					</div>

					<div class="footer-nav-list">
							<h5 class="footer-nav-title">Shop</h5>
							<ul class="footer-nav-links">
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
							</ul>
					</div>

					<div class="footer-nav-list">
							<h5 class="footer-nav-title">Shop</h5>
							<ul class="footer-nav-links">
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
							</ul>
					</div>

					<div class="footer-nav-list">
							<h5 class="footer-nav-title">Shop</h5>
							<ul class="footer-nav-links">
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
								<li><a href="#">Shop By Category</a></li>
							</ul>
					</div>

				</div>
			</div>
			<div class="col-md-4">
				<div class="block-contact-wrapper">
				 <div class="block-contact">
						<div class="block-title">
							<span>Contact US</span>
						</div>
						<div class="block-content">
							<p>Sign up for our mailing list & stay up-to-date on the latest snuggle news, deals. Refer to our </p>
							<a href="#"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
						</div>
				 </div>
			 </div>
			</div>

		</div>
	</div>
</div>

<div class="wrapper footer-container">
	<div class="container">
	<div class="row">
		<div class="col-md-8">
			<p class="footer-copyright">Copyright ©2016 JDStore Inc. All Rights Reserved. |
				<a href="#">Design by liuzx</a>
			</p>
		</div>
		<div class="col-md-4 payment">
			<a href="#"><img src="https://www.snugglebugz.ca/media/wysiwyg/footer/visa.png" alt=""></a>
			<a href="#"><img src="https://www.snugglebugz.ca/media/wysiwyg/footer/mc.png" alt=""></a>
			<a href="#"><img src="https://www.snugglebugz.ca/media/wysiwyg/footer/paypal.png" alt=""></a>
		</div>
	</div>
	</div>
</div>
