<div class="wrapper footer-nav-container">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="footer-nav">
					<div class="footer-nav-list">
							<h5 class="footer-nav-title">关于我们</h5>
							<ul class="footer-nav-links">
								<li><a href="#">关于我们</a></li>
								<li><a href="#">隐私政策</a></li>
								<li><a href="#">服务条款</a></li>
								<li><a href="#">常见问题</a></li>
							</ul>
					</div>

					<div class="footer-nav-list">
							<h5 class="footer-nav-title">会员服务</h5>
							<ul class="footer-nav-links">
								<li><a href="#">加入会员</a></li>
								<li><a href="#">新手上路</a></li>
								<li><a href="#">会员分级</a></li>
								<li><a href="#">订阅消息</a></li>
								<li><a href="#">客服中心</a></li>
							</ul>
					</div>

					<div class="footer-nav-list">
							<h5 class="footer-nav-title">配送支付</h5>
							<ul class="footer-nav-links">
								<li><a href="#">上门自提</a></li>
								<li><a href="#">配送查询</a></li>
								<li><a href="#">货到付款</a></li>
								<li><a href="#">在线支付</a></li>
								<li><a href="#">分期付款</a></li>
							</ul>
					</div>

					<div class="footer-nav-list">
							<h5 class="footer-nav-title">售后服务</h5>
							<ul class="footer-nav-links">
								<li><a href="#">售后政策</a></li>
								<li><a href="#">价格保护</a></li>
								<li><a href="#">退款说明</a></li>
								<li><a href="#">返修/退换货</a></li>
								<li><a href="#">取消订单</a></li>
							</ul>
					</div>

				</div>
			</div>
			<div class="col-md-4">
				<div class="block-contact-wrapper">
				 <div class="block-contact">
						<div class="block-title">
							<span>联系我们</span>
						</div>
						<div class="block-content">
							<p>在购物中思考‧在阅读中進化</p>
							<a href="#"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
						</div>
				 </div>
			 </div>
			</div>

		</div>
	</div>
</div>

<div class="wrapper footer-container">
	<div class="container">
	<div class="row">
		<div class="col-md-8">
			<p class="footer-copyright">Copyright ©2017 National Book Store Inc. All Rights Reserved. |
				<a href="#">Design by liuzx & liulp</a>
			</p>
		</div>
		<div class="col-md-4 payment">
			<a href="#"><%= image_tag("visa.png") %></a>
			<a href="#"><%= image_tag("mc.png") %></a>
			<a href="#"><%= image_tag("paypal.png") %></a>
		</div>
	</div>
	</div>
</div>
