<div class="left_nav">

  <h3>关于我们</h3>
  <ul>
    <li><a href="#">关于我们</a></li>
    <li><a href="#">隐私政策</a></li>
    <li><a href="#">服务条款</a></li>
    <li><a href="#">常见问题</a></li>
  </ul>


  <h3>会员服务</h3>
  <ul>
    <li><a href="#">加入会员</a></li>
    <li><a href="#">新手上路</a></li>
    <li><a href="#">会员分级</a></li>
    <li><a href="#">订阅消息</a></li>
    <li><a href="#">客服中心</a></li>
  </ul>

  <h3>配送支付</h3>
  <ul>
    <li><a href="#">上门自提</a></li>
    <li><a href="#">配送查询</a></li>
    <li><a href="#">在线支付</a></li>
    <li><a href="#">分期付款</a></li>
  </ul>

  <h3>售后服务</h3>
  <ul>
    <li><a href="#">售后政策</a></li>
    <li><a href="#">价格保护</a></li>
    <li><a href="#">退款说明</a></li>
    <li><a href="#">返修/退换货</a></li>
    <li><a href="#">取消订单</a></li>
  </ul>


</div>
