<div class="left_nav">

  <h3>About</h3>
  <ul>
    <li><a href="#">Some Books</a></li>
    <li><a href="#">Some Books</a></li>
    <li><a href="#">Some Books</a></li>
    <li><a href="#">Some Books</a></li>
  </ul>

  <h3>Help Center</h3>
  <ul>
    <li><a href="#">Some Books</a></li>
    <li><a href="#">Some Books</a></li>
    <li><a href="#">Some Books</a></li>
    <li><a href="#">Some Books</a></li>
  </ul>


</div>
